{
  "openapi": "3.0.3",
  "info": {
    "title": "Wavy Backoffice Private API",
    "description": "Reverse-engineered documentation of api.wavy.fr. This is an unofficial reference — endpoints, schemas, and behaviour may change without notice.",
    "version": "0.3.0",
    "x-last-updated": "2026-04-23",
    "x-organisation-note": "Ce fichier monolithique (>260 Ko) documente 43 routes et 49 schémas. Découpage recommandé par microservice : openapi-auth.json, openapi-clients.json, openapi-visits.json, openapi-planning.json, openapi-finances.json, openapi-stock.json, openapi-marketing.json, openapi-treatwell.json, openapi-billing.json, openapi-loyalty.json, openapi-shared.json (composants réutilisables). Utiliser un bundler (ex. : swagger-cli bundle) pour générer le fichier distribué.",
    "x-curl-test": "GET /shops/{shopID}/items?itemType=package confirmed 200 — package schema with embedded services and PackageItemPrice. GET /shops/{shopID}/discounts confirmed 200. GET /users confirmed 200. GET /v2/treatwell/{shopID}/v1/settings confirmed 200. GET /v2/marketing/{shopID}/v1/sms-campaigns confirmed 200. GET /v2/marketing/{shopID}/v1/sms-campaigns/{id}/roi confirmed 200. POST /v2/auth/v1/st/signin confirmed 200 — returns status+user with SuperTokens UUID. GET /v2/auth/v1/users/me confirmed 200 — full user profile with shops array. GET /shops/{shopID}/staffs confirmed 200 — flattened staff+membership view with 2 members. GET /v2/planning/{shopID}/v1/days confirmed 200 — PlanningDay array with 42 visits (APPOINTMENT/PAID/CANCELED) confirmed. GET /v2/finances/{shopID}/v1/closures/today confirmed 200 — OPEN closure, amounts empty. GET /v2/core/{shopID}/v1/items/colors confirmed 200 — array of {_id, color} with named colours (purple, cherry) or null. GET /v2/core/{shopID}/v1/clients confirmed 200 — paginated {rows, page, pageSize, total, totalPages} envelope with 5530 clients. GET /shops/{shopID}/loyalty confirmed 200 — 4 loyalty programs (jackpot+giftCard). GET /shops/{shopID}/visits confirmed 200 — Visit array filtered by client._id with $sort. GET /shops/{shopID}/credits confirmed 200 — Credit array for a client. GET /v2/core/{shopID}/v1/clients/{clientID} confirmed 200 — single projected Client. GET /v2/stock/{shopID}/v1/products/list 401 (token expired — schema TBD). GET /v2/stock/{shopID}/v1/products/{productId} confirmed 200 — full product with computedStock, barcode, taxRate. GET /v2/stock/{shopID}/v1/stockIOs/past-purchase-prices confirmed 200 — [{at, price}] or []."
  },
  "servers": [
    {
      "url": "https://api.wavy.fr",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Session and CSRF token management, backed by SuperTokens (FDI 1.8–1.10).\n\n**Three cookies, rotating on every refresh:**\n- `sAccessToken` — short-lived JWT (~1h lifetime). Sent on every authenticated request.\n- `sRefreshToken` — single-use refresh token. Only sent to `/v2/auth/v1/st/session/refresh` (cookie Path is restricted to that endpoint).\n- `sIdRefreshToken` — opaque session identifier cookie.\n\n**Two rid header values:**\n- `rid: anti-csrf` on all resource endpoints (items, clients, shops, …).\n- `rid: session` on `/v2/auth/v1/st/session/refresh` only.\n\n**JWT payload** (base64-decode the middle segment of `sAccessToken`):\n```\n{\n  sessionHandle, userId,            // SuperTokens session + user UUID\n  refreshTokenHash1,                // hash of the current refresh token\n  parentRefreshTokenHash1,          // hash of the *previous* refresh token (present only after the first refresh)\n  userData: { deviceUserID, userID, userMode },\n  expiryTime, timeCreated, lmrt\n}\n```\n\n**Refresh flow & rotation chain:**\n1. Resource endpoint returns `401 { message: 'try refresh token' }` when the access token is expired.\n2. Client POSTs `/v2/auth/v1/st/session/refresh` with the `sRefreshToken` cookie and `rid: session`.\n3. Server rotates all three cookies via `Set-Cookie`, returns the new id-refresh-token in the response header, and the new access token JWT carries the old token's hash as `parentRefreshTokenHash1`.\n\n**Token theft detection.** Each refresh token can be consumed exactly once. On refresh, SuperTokens checks whether the presented token is (a) the current one, or (b) the parent of the current one (expected replay of the previous rotation). If neither, the server assumes the token was stolen and replayed after the legitimate client already rotated: it returns `401 { message: 'token theft detected' }`, clears all three cookies with `Expires: Thu, 01 Jan 1970 00:00:00 GMT`, and revokes the session server-side. The `parentRefreshTokenHash1` field is how the chain is tracked."
    },
    {
      "name": "Background Tasks",
      "description": "Background job tracking for billing, SMS campaigns, and other async operations scoped under a shop. Supports pagination and sorting."
    },
    {
      "name": "Clients",
      "description": "Salon clients scoped under a shop. Same data as /customers, different path convention. Returns the full client list in a single unpaginated array."
    },
    {
      "name": "Items",
      "description": "Services and products scoped under a shop. Supports FeathersJS Mongo-style query operators in query params (e.g. type[$ne]=gift-card)."
    },
    {
      "name": "Shops",
      "description": "The authenticated salon's shop document — identity, subscription, settings, stats, roles, and feature flags."
    },
    {
      "name": "Online Booking",
      "description": "Widget settings for the public online booking interface. Paths use the /v2/v1/online-booking/ prefix — a Moleculer microservice with nested versioning."
    },
    {
      "name": "Marketing",
      "description": "Marketing integrations and configurations. Facebook Business Extension, SMS campaigns, and other third-party marketing tools. Routes through /v2/marketing Moleculer microservice."
    },
    {
      "name": "Brands",
      "description": "Global product brand catalogue shared across all shops. Returns a flat array of all known brands (3 550+ entries). Not scoped to a specific shop — the token only needs to be valid."
    },
    {
      "name": "Discounts",
      "description": "Reusable discount definitions scoped to a shop. Applied at checkout — either a fixed amount (absolute) or a percentage. applicableTo is an empty array when the discount applies to all items."
    },
    {
      "name": "Users",
      "description": "Staff user accounts scoped to the session's shop. Returns all staff members with their schedule, role, and SuperTokens identity links."
    },
    {
      "name": "Treatwell",
      "description": "Treatwell marketplace integration settings for a shop. Routes through /v2/treatwell/{shopID}/v1/ Moleculer microservice. Contains sync state, listing URL, and widget modal tracking."
    },
    {
      "name": "Stats",
      "description": "Statistics export endpoint. Accepts a POST with a date range and returns an async export job identifier. The export covers visits, revenue, and client activity."
    },
    {
      "name": "Finances",
      "description": "Daily cash register closures (caisse) for a shop. Routes through the /v2/finances/{shopID}/v1/ Moleculer microservice. A closure record is created each day and can be OPEN (in progress) or CLOSED (end-of-day summary with payment breakdown)."
    },
    {
      "name": "Planning",
      "description": "Day-by-day planning view for a shop. Routes through the /v2/planning/{shopID}/v1/ Moleculer microservice. Returns visits (confirmed/paid/cancelled appointments), recurring visit instances, and leaves grouped by day."
    },
    {
      "name": "Visits",
      "description": "Salon visit records — past, present (appointments), and cancelled. Routes through the /v2/core/{shopID}/v1/ Moleculer microservice. Each visit embeds a full client snapshot, appointment metadata, payment record, and enriched line items. Statuses: APPOINTMENT (upcoming), PENDING (in-chair / payment pending), PAID, CANCELED."
    },
    {
      "name": "Core",
      "description": "Core microservice for shop-specific catalogue operations. Routes through /v2/core/{shopID}/v1/. Provides lightweight projection endpoints complementing the main FeathersJS service routes."
    },
    {
      "name": "Credits",
      "description": "Loyalty credits and gift cards issued to clients. Each record tracks an original amount, remaining balance, expiry, and full usage history. Backed by the FeathersJS `/shops/{shopID}/credits` resource. Supports `deleted[$ne]` and dot-notation MongoDB filters."
    },
    {
      "name": "Loyalty",
      "description": "Définitions des programmes de fidélité d'un salon — catalogue des programmes (cagnotte progressive, cartes cadeaux) qui génèrent les enregistrements Credit. En général 2 à 5 entrées par salon."
    },
    {
      "name": "Billing",
      "description": "Wavy platform subscription invoices for the shop. Routes through the `/v2/billing/{shopID}/v1/` Moleculer microservice. Invoices are issued by Zuora (Wavy's billing provider). Returns an unpaginated flat list."
    },
    {
      "name": "Stock",
      "description": "Physical stock management for retail products in a shop. Routes through the /v2/stock/{shopID}/v1/ Moleculer microservice. Tracks inventory levels (computedStock), barcodes, categories, prices, and purchase history."
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sAccessToken"
      },
      "antiCsrf": {
        "type": "apiKey",
        "in": "header",
        "name": "rid",
        "description": "Must be the literal string anti-csrf"
      }
    },
    "parameters": {
      "shopIdPath": {
        "name": "shopID",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "pageQuery": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "perPageQuery": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 100,
          "maximum": 100
        }
      }
    },
    "schemas": {
      "TimeSlot": {
        "type": "object",
        "properties": {
          "start": {
            "type": "number",
            "description": "Decimal hours (e.g., 7.5 for 7:30 AM)"
          },
          "end": {
            "type": "number",
            "description": "Decimal hours"
          },
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID — present when the slot is stored as a subdocument (e.g. GET /shops/{shopID}/staffs). Absent in projection-based responses."
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "monday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "tuesday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "wednesday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "thursday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "friday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "saturday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "sunday": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          }
        }
      },
      "Price": {
        "type": "object",
        "description": "Niveau de tarification d'un service ou produit (ex. : Adulte, Junior, Senior).",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "name": {
            "type": "string",
            "description": "Libellé du niveau tarifaire (ex. : Adulte, Junior)"
          },
          "value": {
            "type": "number",
            "description": "Prix TTC dans la devise du salon"
          }
        }
      },
      "ClientStats": {
        "type": "object",
        "description": "Statistiques agrégées d'un client calculées à partir de ses visites payées.",
        "properties": {
          "totalSpent": {
            "type": "number",
            "description": "Montant total dépensé par le client depuis son inscription (dans la devise du salon)"
          },
          "ticketAverage": {
            "type": "number",
            "description": "Panier moyen par visite payée"
          },
          "lastVisitDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date de la dernière visite (ISO 8601)"
          },
          "visitNb": {
            "type": "integer",
            "description": "Nombre total de visites payées"
          },
          "lastVisitIsNoShow": {
            "type": "boolean",
            "description": "Vrai si la dernière visite était un no-show"
          }
        }
      },
      "ClientPicture": {
        "type": "object",
        "properties": {
          "cpid": {
            "type": "string",
            "description": "Cloudinary path — format: production/x/clientfile/{shopID}/{publicId}"
          },
          "isProfilePicture": {
            "type": "boolean",
            "description": "Vrai si cette image est la photo de profil principale du client"
          }
        },
        "required": [
          "cpid"
        ]
      },
      "FacebookAuth": {
        "type": "object",
        "description": "Identité Facebook liée au compte client.",
        "properties": {
          "userID": {
            "type": "string",
            "nullable": true,
            "description": "Identifiant utilisateur Facebook (null si non lié)"
          },
          "accessToken": {
            "type": "string",
            "nullable": true,
            "description": "Jeton d'accès Facebook (null si révoqué ou non lié)"
          }
        }
      },
      "GoogleAuth": {
        "type": "object",
        "properties": {
          "userID": {
            "type": "string",
            "description": "Google numeric user ID as string"
          }
        }
      },
      "StripeCard": {
        "type": "object",
        "properties": {
          "brand": {
            "type": "string",
            "description": "e.g., visa, mastercard"
          },
          "last4": {
            "type": "string",
            "description": "Last 4 digits"
          },
          "exp_month": {
            "type": "integer",
            "description": "Mois d'expiration de la carte (1–12)"
          },
          "exp_year": {
            "type": "integer",
            "description": "Année d'expiration de la carte (ex. : 2026)"
          },
          "country": {
            "type": "string",
            "description": "Code pays ISO 3166-1 alpha-2 du pays d'émission de la carte"
          }
        }
      },
      "StripePaymentMethod": {
        "type": "object",
        "properties": {
          "customerID": {
            "type": "string",
            "description": "Stripe cus_*"
          },
          "setupIntentID": {
            "type": "string",
            "description": "Stripe seti_*"
          },
          "clientSecret": {
            "type": "string",
            "description": "Sensitive: seti_*_secret_*"
          },
          "paymentMethodID": {
            "type": "string",
            "description": "Stripe pm_*"
          },
          "card": {
            "$ref": "#/components/schemas/StripeCard"
          }
        }
      },
      "Client": {
        "type": "object",
        "required": [
          "_id",
          "shopID",
          "firstName",
          "lastName",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "shopID": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant UUID du salon auquel appartient ce client"
          },
          "firstName": {
            "type": "string",
            "description": "Prénom du client"
          },
          "lastName": {
            "type": "string",
            "description": "Nom de famille du client"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Adresse e-mail du client (null si non renseignée)"
          },
          "telephone": {
            "type": "string",
            "description": "Numéro de téléphone au format E.164 (ex. : +33612345678)",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "description": "Alternative telephone field (rare, legacy)",
            "nullable": true
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female"
            ],
            "nullable": true,
            "description": "Genre du client (male = homme, female = femme)"
          },
          "age": {
            "type": "string",
            "enum": [
              "adult",
              "junior",
              "senior"
            ],
            "nullable": true,
            "description": "Tranche d'âge du client (adult = adulte, junior = enfant/adolescent, senior = senior)"
          },
          "birthdate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "ISO 8601 date-time string"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Notes internes libres saisies par le salon sur ce client"
          },
          "address": {
            "type": "string",
            "nullable": true,
            "description": "Adresse complète du client (champ libre, peut inclure la rue et la ville)"
          },
          "street": {
            "type": "string",
            "nullable": true,
            "description": "Rue et numéro de voie du client"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Ville du client"
          },
          "postalCode": {
            "type": "string",
            "nullable": true,
            "description": "Code postal du client"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "Nom du pays du client"
          },
          "countryCode": {
            "type": "string",
            "nullable": true,
            "description": "Code pays ISO 3166-1 alpha-2 (ex. : FR, BE)"
          },
          "onlineBooking": {
            "type": "boolean",
            "nullable": true,
            "description": "Vrai si le client a déjà réservé via le widget de réservation en ligne"
          },
          "rgpdChecked": {
            "type": "boolean",
            "nullable": true,
            "description": "Vrai si le client a accepté la politique de confidentialité RGPD"
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Vrai si le client a consenti à recevoir des communications marketing (SMS, e-mail)"
          },
          "tmp": {
            "type": "boolean",
            "description": "Temporary/walk-in client"
          },
          "deleted": {
            "type": "boolean",
            "description": "Soft-delete flag"
          },
          "shortLinkCode": {
            "type": "string",
            "nullable": true,
            "description": "Code court unique utilisé dans les liens de partage client (ex. : lien d'avis Google)"
          },
          "fromPartner": {
            "type": "string",
            "nullable": true,
            "description": "Partner source identifier (rare)"
          },
          "pictures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientPicture"
            },
            "nullable": true
          },
          "importedVisitNotes": {
            "type": "array",
            "items": {},
            "nullable": true,
            "description": "Legacy imported visit notes (typically empty)"
          },
          "facebook": {
            "$ref": "#/components/schemas/FacebookAuth",
            "nullable": true
          },
          "google": {
            "$ref": "#/components/schemas/GoogleAuth",
            "nullable": true
          },
          "stripe": {
            "$ref": "#/components/schemas/StripePaymentMethod",
            "nullable": true
          },
          "progressiveJackpot": {
            "nullable": true,
            "description": "Loyalty jackpot value (schema TBD)"
          },
          "stats": {
            "$ref": "#/components/schemas/ClientStats"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "__v": {
            "type": "integer",
            "description": "Mongoose document version key"
          },
          "shopID": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant UUID du salon propriétaire de ce service/produit"
          },
          "itemType": {
            "type": "string",
            "enum": [
              "service",
              "product",
              "package"
            ],
            "description": "Type d'article : service (prestation), product (produit revendu), package (forfait combinant plusieurs services)"
          },
          "type": {
            "type": "string",
            "description": "Sous-type du service. Valeurs observées : haircut, trimmer, shave, shampoo, styling, colouring, shaping, other-hair, other"
          },
          "title": {
            "type": "string",
            "description": "Nom complet de l'article affiché en backoffice et dans la réservation en ligne"
          },
          "shortTitle": {
            "type": "string",
            "description": "Abbreviated label shown in compact UI views"
          },
          "titleRwG": {
            "type": "string",
            "description": "Title override for Google Reserve with Google integration"
          },
          "category": {
            "type": "string",
            "description": "Catégorie de l'article (ex. : Coupe, Coloration, Soin)"
          },
          "description": {
            "type": "string",
            "description": "Description longue de l'article visible dans la réservation en ligne"
          },
          "duration": {
            "type": "integer",
            "description": "Durée de la prestation en minutes"
          },
          "taxRate": {
            "type": "number",
            "description": "VAT percentage (e.g. 20 for 20%)"
          },
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Price"
            },
            "description": "One entry per price tier. Empty array means price is set at booking time."
          },
          "allowedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Customer type restrictions (e.g. male, female, junior). Empty means no restriction."
          },
          "products": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of products consumed by this service"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageItem"
            },
            "description": "For itemType=package: fully embedded service objects with package-adjusted pricing (PackageItem). For service/product: always an empty array."
          },
          "color": {
            "type": "string",
            "nullable": true,
            "description": "Calendar display color for the item (e.g. 'cherry', 'purple'). Only set on some packages."
          },
          "showOnWebsite": {
            "type": "boolean",
            "description": "Affiché sur le site web/widget de réservation en ligne du salon"
          },
          "showOnApp": {
            "type": "boolean",
            "description": "Affiché dans l'application mobile Wavy"
          },
          "onlineBooking": {
            "type": "boolean",
            "description": "Réservable via le widget de réservation en ligne Wavy"
          },
          "onlineBookingRwg": {
            "type": "boolean",
            "description": "Bookable via Google Reserve with Google"
          },
          "onlineBookingTw": {
            "type": "boolean",
            "description": "Bookable via Treatwell (third-party marketplace)"
          },
          "isFavorite": {
            "type": "boolean",
            "description": "Vrai si l'article est épinglé en favori dans le backoffice"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Étiquettes libres associées à l'article pour la recherche et le filtrage"
          },
          "picturesCPID": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Chemins Cloudinary des photos de l'article"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création de l'article (ISO 8601)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de dernière modification de l'article (ISO 8601)"
          }
        }
      },
      "StaffUser": {
        "type": "object",
        "description": "Compte utilisateur d'un membre du personnel — projection légère retournée dans les réponses d'authentification.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "type": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "Type de document — toujours 'user'"
          },
          "firstName": {
            "type": "string",
            "description": "Prénom du membre du personnel"
          },
          "lastName": {
            "type": "string",
            "description": "Nom de famille du membre du personnel"
          },
          "email": {
            "type": "string",
            "description": "Adresse e-mail du compte"
          },
          "telephone": {
            "type": "string",
            "description": "E.164 format"
          },
          "code": {
            "type": "string",
            "description": "4-digit staff PIN"
          },
          "profilePictureCPID": {
            "type": "string",
            "description": "Cloudinary path"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ShopLegal": {
        "type": "object",
        "description": "Informations légales et fiscales du salon.",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Code devise ISO 4217 utilisé par le salon (ex. : EUR)"
          },
          "vat": {
            "type": "number",
            "description": "Taux de TVA par défaut du salon en pourcentage (ex. : 20)"
          },
          "address": {
            "type": "string",
            "description": "Adresse postale du salon"
          },
          "countryCode": {
            "type": "string",
            "description": "Code pays ISO 3166-1 alpha-2 (ex. : FR)"
          },
          "siret": {
            "type": "string",
            "description": "Numéro SIRET de l'établissement (14 chiffres, France uniquement)"
          },
          "telephone": {
            "type": "string",
            "description": "Numéro de téléphone du salon au format E.164"
          }
        }
      },
      "SubscriptionPlan": {
        "type": "object",
        "description": "Détails d'un abonnement Wavy actif pour un salon (POS ou Marketing).",
        "properties": {
          "maxStaffs": {
            "type": "integer",
            "description": "Nombre maximum de membres du personnel inclus dans ce plan"
          },
          "interval": {
            "type": "string",
            "description": "Périodicité de facturation (ex. : month, year)"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date de début de l'abonnement (ISO 8601)"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date de fin de l'abonnement (ISO 8601)"
          }
        }
      },
      "ShopStats": {
        "type": "object",
        "description": "Statistiques agrégées du salon calculées sur l'ensemble de son historique.",
        "properties": {
          "totalClients": {
            "type": "integer",
            "description": "Nombre total de fiches clients créées dans le salon"
          },
          "totalVisits": {
            "type": "integer",
            "description": "Nombre total de visites enregistrées (toutes statuts confondus)"
          },
          "totalAppointments": {
            "type": "integer",
            "description": "Nombre total de rendez-vous confirmés"
          },
          "totalOnlineBookings": {
            "type": "integer",
            "description": "Nombre total de réservations effectuées via le widget en ligne"
          },
          "monthlyRevenue": {
            "type": "number",
            "description": "Chiffre d'affaires du mois en cours dans la devise du salon"
          },
          "lastVisit": {
            "type": "string",
            "format": "date-time",
            "description": "Date et heure de la dernière visite enregistrée dans le salon (ISO 8601)"
          }
        }
      },
      "ShopDocument": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant UUID unique du salon"
          },
          "name": {
            "type": "string",
            "description": "Nom commercial du salon"
          },
          "shortID": {
            "type": "string",
            "description": "URL-friendly slug"
          },
          "locale": {
            "type": "string",
            "description": "BCP 47 format"
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone"
          },
          "phoneCountryCode": {
            "type": "string",
            "description": "Indicatif téléphonique du pays du salon (ex. : +33 pour la France)"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE"
            ],
            "description": "Statut du compte salon : PENDING = en cours d'activation, ACTIVE = opérationnel"
          },
          "stage": {
            "type": "string",
            "enum": [
              "LIVE",
              "ONBOARDING"
            ],
            "description": "Étape du cycle de vie : LIVE = salon en production, ONBOARDING = configuration initiale en cours"
          },
          "shopTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Type(s) d'établissement (ex. : hair, beauty, barber)"
          },
          "homeService": {
            "type": "boolean",
            "description": "Vrai si le salon propose des prestations à domicile"
          },
          "legal": {
            "$ref": "#/components/schemas/ShopLegal"
          },
          "subscription": {
            "type": "object",
            "description": "Abonnements Wavy actifs du salon, séparés par module",
            "properties": {
              "pos": {
                "$ref": "#/components/schemas/SubscriptionPlan",
                "description": "Abonnement au module caisse / point de vente"
              },
              "marketing": {
                "$ref": "#/components/schemas/SubscriptionPlan",
                "description": "Abonnement au module marketing (SMS, campagnes)"
              }
            }
          },
          "stats": {
            "$ref": "#/components/schemas/ShopStats"
          },
          "featureFlags": {
            "type": "object",
            "description": "Indicateurs d'activation de fonctionnalités expérimentales ou spécifiques au salon (clé = nom du flag, valeur = activé/désactivé)",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "schedule": {
            "$ref": "#/components/schemas/Schedule",
            "description": "Horaires d'ouverture du salon par jour de la semaine"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création du compte salon (ISO 8601)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de dernière modification du document salon (ISO 8601)"
          }
        }
      },
      "AuthenticationError": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "NotAuthenticated"
          },
          "message": {
            "type": "string",
            "example": "try refresh token"
          },
          "code": {
            "type": "integer",
            "example": 401
          },
          "className": {
            "type": "string",
            "example": "not-authenticated"
          },
          "errors": {
            "type": "object",
            "example": {}
          }
        }
      },
      "BackgroundTask": {
        "type": "object",
        "description": "A background task record for billing or other async operations",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique identifier (MongoDB ObjectId)",
            "example": "69e9c401ac9b60f0da628a8b"
          },
          "context": {
            "$ref": "#/components/schemas/TaskContext"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the task was created",
            "example": "2026-04-23T07:02:25.355Z"
          },
          "expireAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the task record expires",
            "example": "2026-05-03T07:02:25.353Z"
          },
          "progress": {
            "$ref": "#/components/schemas/TaskProgress"
          },
          "shopID": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the shop this task belongs to",
            "example": "98a43d49-2ef5-4ecd-9f5d-bfed1d782a0c"
          },
          "status": {
            "type": "string",
            "description": "Current status of the task",
            "example": "finished"
          },
          "taskName": {
            "type": "string",
            "description": "Human-readable task identifier",
            "example": "sms-billing-job-33c2feae-bd29-4cd6-b168-5cf1bcf12dfc--dry-run:no--subtask"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the task was last updated",
            "example": "2026-04-23T07:02:25.930Z"
          }
        }
      },
      "TaskContext": {
        "type": "object",
        "description": "Context information about task execution",
        "properties": {
          "unbilled": {
            "$ref": "#/components/schemas/UnbilledStats"
          },
          "billed": {
            "type": "integer",
            "description": "Count of successfully billed items",
            "example": 1
          },
          "totalToBeBilled": {
            "type": "integer",
            "description": "Total items pending billing",
            "example": 0
          },
          "smsGroupDate": {
            "type": "string",
            "format": "date",
            "description": "Date for SMS billing group (YYYY-MM-DD)",
            "example": "2026-04-23"
          }
        }
      },
      "UnbilledStats": {
        "type": "object",
        "description": "Statistics for items that could not be billed",
        "properties": {
          "invalidType": {
            "type": "integer",
            "description": "Count of items with invalid type",
            "example": 0
          },
          "churned": {
            "type": "integer",
            "description": "Count of churned/inactive items",
            "example": 0
          },
          "noZuoraAccount": {
            "type": "integer",
            "description": "Count of items without Zuora account",
            "example": 0
          },
          "unknownError": {
            "type": "integer",
            "description": "Count of items with unknown error",
            "example": 0
          },
          "accountingPeriodClosed": {
            "type": "integer",
            "description": "Count of items in closed accounting period",
            "example": 0
          },
          "zuoraUsageUpdateError": {
            "type": "integer",
            "description": "Count of Zuora usage update errors",
            "example": 0
          }
        }
      },
      "TaskProgress": {
        "type": "object",
        "description": "Progress tracking for task execution",
        "properties": {
          "current": {
            "type": "integer",
            "description": "Current number of items processed",
            "example": 1
          },
          "total": {
            "type": "integer",
            "description": "Total number of items to process",
            "example": 1
          }
        }
      },
      "Brand": {
        "type": "object",
        "description": "A product brand in the Wavy global catalogue",
        "required": [
          "_id",
          "name",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Slug identifier (e.g. loreal, kerastase). Not a UUID or ObjectID."
          },
          "__v": {
            "type": "integer",
            "description": "Mongoose document version key"
          },
          "name": {
            "type": "string",
            "description": "Display name of the brand"
          },
          "logoCPID": {
            "type": "string",
            "nullable": true,
            "description": "Cloudinary path for the brand logo (e.g. brands/loreal.jpg)"
          },
          "websiteUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Brand's official website URL"
          },
          "brandPage": {
            "type": "object",
            "nullable": true,
            "description": "Optional partner-badge configuration shown in the backoffice",
            "properties": {
              "badgeLink": {
                "type": "string",
                "format": "uri",
                "description": "URL for the partner badge (e.g. share.wavy.co/loreal-partner-shop)"
              },
              "badgeText": {
                "type": "string",
                "description": "Label displayed on the partner badge"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création de la marque (ISO 8601)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de dernière modification de la marque (ISO 8601)"
          }
        }
      },
      "PackageItemPrice": {
        "type": "object",
        "description": "Package-adjusted price for one service component inside a package. `value` is the price charged within the package; `coeff` is value / standalone list price.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID (copied from the canonical Price entry)"
          },
          "name": {
            "type": "string",
            "description": "Libellé du niveau tarifaire (ex. : Adulte, Senior)"
          },
          "value": {
            "type": "number",
            "description": "Prix ajusté dans le contexte du forfait (en unités de devise)"
          },
          "coeff": {
            "type": "number",
            "description": "Coefficient : prix forfait / prix autonome. Ex. : 0,5 = facturé à moitié du tarif normal"
          }
        }
      },
      "PackageItem": {
        "type": "object",
        "description": "A service record embedded inside a package (itemType=package). Contains all standard service fields plus `price` (the package-adjusted pricing) and `serviceID` (pointer to the canonical service document). The `items` array on PackageItem is always empty.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "__v": {
            "type": "integer",
            "description": "Clé de version du document Mongoose"
          },
          "itemType": {
            "type": "string",
            "enum": [
              "service"
            ],
            "description": "Toujours 'service' pour un article intégré dans un forfait"
          },
          "shopID": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant UUID du salon propriétaire du service"
          },
          "serviceID": {
            "type": "string",
            "description": "MongoDB ObjectID of the canonical service document. Only present on embedded copies, not on the canonical record itself."
          },
          "title": {
            "type": "string",
            "description": "Nom du service intégré dans le forfait"
          },
          "category": {
            "type": "string",
            "description": "Catégorie du service (ex. : Coupe, Coloration)"
          },
          "type": {
            "type": "string",
            "description": "Sous-type du service (ex. : haircut, styling)"
          },
          "duration": {
            "type": "integer",
            "description": "Durée en minutes (remplacée par la durée du créneau dans le forfait)"
          },
          "taxRate": {
            "type": "number",
            "description": "Taux de TVA applicable au service en pourcentage"
          },
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Price"
            },
            "description": "Grille tarifaire autonome du service (hors prix forfait)"
          },
          "price": {
            "$ref": "#/components/schemas/PackageItemPrice",
            "description": "Prix ajusté du service dans le contexte du forfait"
          },
          "allowedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Types de clientèle autorisés pour ce service (vide = aucune restriction)"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "ObjectIDs des produits consommés lors de la réalisation de ce service"
          },
          "items": {
            "type": "array",
            "items": {},
            "description": "Toujours vide pour les services intégrés dans un forfait"
          },
          "showOnWebsite": {
            "type": "boolean",
            "description": "Affiché sur le site web / widget de réservation en ligne"
          },
          "showOnApp": {
            "type": "boolean",
            "description": "Affiché dans l'application mobile Wavy"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Étiquettes libres associées au service"
          },
          "picturesCPID": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Chemins Cloudinary des photos du service"
          },
          "description": {
            "type": "string",
            "description": "Description longue du service"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création du service (ISO 8601)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de dernière modification du service (ISO 8601)"
          }
        }
      },
      "Discount": {
        "type": "object",
        "description": "A reusable discount definition applied at checkout. type=absolute subtracts a fixed amount; type=percentage subtracts a percentage.",
        "required": [
          "_id",
          "name",
          "type",
          "value",
          "shopID"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "name": {
            "type": "string",
            "example": "Client fidèle"
          },
          "type": {
            "type": "string",
            "enum": [
              "absolute",
              "percentage"
            ],
            "description": "absolute = fixed currency amount; percentage = 0–100 percent off"
          },
          "value": {
            "type": "number",
            "description": "Discount amount. Currency units for absolute; 0–100 for percentage."
          },
          "applicableTo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Item ObjectIDs this discount is restricted to. Empty array means applicable to all items."
          },
          "shopID": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserPolicy": {
        "type": "object",
        "properties": {
          "currentTries": {
            "type": "integer",
            "description": "Number of consecutive failed login attempts"
          },
          "passwordUsageCount": {
            "type": "integer",
            "description": "Total number of times the user has logged in"
          }
        }
      },
      "UserDocument": {
        "type": "object",
        "description": "Full staff user document as returned by GET /users. Includes shop memberships, schedule, and SuperTokens identity links.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "type": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "Type de document — toujours 'user'"
          },
          "firstName": {
            "type": "string",
            "description": "Prénom du membre du personnel"
          },
          "lastName": {
            "type": "string",
            "description": "Nom de famille du membre du personnel"
          },
          "email": {
            "type": "string",
            "description": "Adresse e-mail du compte"
          },
          "telephone": {
            "type": "string",
            "description": "Numéro de téléphone au format E.164"
          },
          "code": {
            "type": "string",
            "description": "Code PIN à 4 chiffres du membre du personnel"
          },
          "isInit": {
            "type": "boolean",
            "description": "Vrai si le compte a terminé sa configuration initiale"
          },
          "superAdminRights": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Droits super-administrateur attribués à cet utilisateur (généralement vide)"
          },
          "supertokensUsers": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUIDs SuperTokens liés à ce compte personnel"
          },
          "profilePictureCPID": {
            "type": "string",
            "description": "Cloudinary path for profile picture"
          },
          "policy": {
            "$ref": "#/components/schemas/UserPolicy"
          },
          "shops": {
            "type": "array",
            "description": "Shop memberships for this user",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "Membership document ObjectID"
                },
                "shopID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Identifiant UUID du salon de cette adhésion"
                },
                "name": {
                  "type": "string",
                  "description": "Nom du salon (copie du champ ShopDocument.name)"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "owner",
                    "manager",
                    "collaborator"
                  ],
                  "description": "Rôle du personnel dans ce salon : owner = gérant, manager = responsable, collaborator = prestataire"
                },
                "schedule": {
                  "$ref": "#/components/schemas/Schedule",
                  "description": "Horaires de travail de ce membre du personnel dans ce salon"
                },
                "customSchedule": {
                  "type": "boolean",
                  "description": "Vrai si ce membre a des horaires personnalisés différents du salon"
                },
                "onlineBooking": {
                  "type": "boolean",
                  "description": "Vrai si ce membre est proposé à la réservation en ligne"
                },
                "showOnWebsite": {
                  "type": "boolean",
                  "description": "Vrai si ce membre apparaît sur le site web du salon"
                },
                "profilePictureCPID": {
                  "type": "string",
                  "description": "Chemin Cloudinary de la photo de profil du membre dans ce salon"
                },
                "allowedTypologies": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Types de clientèle que ce membre peut prendre en charge (vide = aucune restriction)"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TreatwellSettings": {
        "type": "object",
        "description": "Treatwell marketplace integration state for a shop. Tracks sync status, listing URL, modal interaction history, and welcome kit progress.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "shopID": {
            "type": "string",
            "format": "uuid"
          },
          "settings": {
            "type": "object",
            "properties": {
              "firstModalDismissDate": {
                "type": "string",
                "format": "date-time",
                "description": "Date à laquelle la modale Treatwell a été fermée pour la première fois"
              },
              "modalDismissCount": {
                "type": "integer",
                "description": "Nombre de fois que la modale Treatwell a été fermée"
              },
              "modalDismissDate": {
                "type": "string",
                "format": "date-time",
                "description": "Date de la dernière fermeture de la modale Treatwell"
              },
              "status": {
                "type": "string",
                "example": "active",
                "description": "Statut de l'intégration Treatwell (ex. : active, inactive)"
              },
              "lastAvailabilitySyncDate": {
                "type": "string",
                "format": "date-time",
                "description": "Last time the shop's availability was synced to Treatwell"
              },
              "twInfo": {
                "type": "object",
                "properties": {
                  "purchasable": {
                    "type": "boolean",
                    "description": "Vrai si le salon est actuellement vendable sur Treatwell"
                  },
                  "listing": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public Treatwell listing URL"
                  },
                  "marketplaceVenueId": {
                    "type": "integer",
                    "description": "Treatwell internal venue ID"
                  },
                  "purchasableSince": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date depuis laquelle le salon est vendable sur Treatwell"
                  }
                }
              },
              "welcomeKit": {
                "type": "object",
                "properties": {
                  "lastUpdate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date de la dernière mise à jour du kit de bienvenue"
                  },
                  "showCounter": {
                    "type": "integer",
                    "description": "Nombre de fois que le kit de bienvenue a été affiché"
                  },
                  "status": {
                    "type": "string",
                    "example": "DISMISSED",
                    "description": "Statut du kit de bienvenue (ex. : DISMISSED = fermé par l'utilisateur)"
                  }
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SmsCampaignFilters": {
        "type": "object",
        "description": "Client targeting filters for an SMS campaign. All demographic booleans default to false (meaning no restriction on that attribute).",
        "properties": {
          "birthMonths": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer"
            },
            "description": "1-based month numbers to target clients with birthdays in those months. null means no filter."
          },
          "country": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-2 country codes to target"
          },
          "adult": {
            "type": "boolean",
            "description": "Cibler les clients adultes"
          },
          "female": {
            "type": "boolean",
            "description": "Cibler les clients de genre féminin"
          },
          "junior": {
            "type": "boolean",
            "description": "Cibler les clients juniors (enfants / adolescents)"
          },
          "male": {
            "type": "boolean",
            "description": "Cibler les clients de genre masculin"
          },
          "senior": {
            "type": "boolean",
            "description": "Cibler les clients seniors"
          },
          "moneySpent": {
            "type": "number",
            "description": "Threshold for total spend filter"
          },
          "moneySpentMode": {
            "type": "string",
            "enum": [
              "equal",
              "gte",
              "lte"
            ],
            "description": "Comparison operator for moneySpent"
          },
          "visitNb": {
            "type": "integer",
            "description": "Threshold for visit count filter"
          },
          "visitNbMode": {
            "type": "string",
            "enum": [
              "equal",
              "gte",
              "lte"
            ],
            "description": "Comparison operator for visitNb"
          }
        }
      },
      "SmsCampaignRoi": {
        "type": "object",
        "description": "Return-on-investment metrics for an SMS campaign. Populated after the campaign closes (closed=true).",
        "properties": {
          "closed": {
            "type": "boolean",
            "description": "Whether the ROI measurement window has closed"
          },
          "cost": {
            "type": "number",
            "description": "Total SMS send cost in currency units"
          },
          "conversionRate": {
            "type": "number",
            "description": "Percentage of recipients who converted (0–100)"
          },
          "ROI": {
            "type": "number",
            "description": "Net return: totalRevenue - cost"
          },
          "uniqueRecipients": {
            "type": "integer"
          },
          "totalMessagesSent": {
            "type": "integer"
          },
          "totalRevenue": {
            "type": "number",
            "description": "Revenue attributed to this campaign"
          },
          "uniqueClientsConverted": {
            "type": "integer"
          }
        }
      },
      "SmsCampaign": {
        "type": "object",
        "description": "An SMS marketing campaign. Contains the targeting filters, message content, send state, billing, and inline ROI summary.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "shopID": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string",
            "description": "Titre interne de la campagne SMS (non visible par les destinataires)"
          },
          "message": {
            "type": "string",
            "description": "Contenu du SMS envoyé aux destinataires"
          },
          "sender": {
            "type": "string",
            "description": "Sender name shown on the recipient's handset (max 11 chars)"
          },
          "filters": {
            "$ref": "#/components/schemas/SmsCampaignFilters"
          },
          "blackList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Client ObjectIDs explicitly excluded from this campaign"
          },
          "recipientsClientID": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Client ObjectIDs that matched the filters at send time"
          },
          "isClientValidated": {
            "type": "boolean",
            "description": "Whether the recipient list was validated before sending"
          },
          "isTemplate": {
            "type": "boolean",
            "description": "Whether this campaign is saved as a reusable template"
          },
          "maxChars": {
            "type": "integer",
            "description": "Maximum character count per SMS part (typically 160)"
          },
          "maxSMS": {
            "type": "integer",
            "description": "Number of SMS parts required for the message"
          },
          "readyToSend": {
            "type": "boolean",
            "description": "Vrai si la campagne a été validée et est prête à être envoyée"
          },
          "sent": {
            "type": "boolean",
            "description": "Vrai si la campagne a déjà été envoyée"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date et heure d'envoi de la campagne (null si pas encore envoyée)"
          },
          "billPrice": {
            "type": "number",
            "description": "Total billed amount for this campaign in currency units"
          },
          "roi": {
            "$ref": "#/components/schemas/SmsCampaignRoi"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création de la campagne (ISO 8601)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de dernière modification de la campagne (ISO 8601)"
          }
        }
      },
      "Leave": {
        "type": "object",
        "description": "A staff time-off or absence record. type='staff' means a specific staff member is unavailable. The endpoint returns all leaves for the shop (480+ records in production). Supports ETag/304 caching.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "shopID": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant UUID du salon auquel appartient cette absence"
          },
          "type": {
            "type": "string",
            "description": "Portée de l'absence : 'staff' = absence individuelle d'un membre du personnel",
            "example": "staff"
          },
          "reverse": {
            "type": "boolean",
            "description": "Whether this record reverses/cancels a previous leave"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date et heure de début de l'absence (ISO 8601)"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date et heure de fin de l'absence (ISO 8601)"
          },
          "cause": {
            "type": "string",
            "description": "Motif de l'absence (texte libre, peut être vide)"
          },
          "staff": {
            "type": "object",
            "description": "Référence partielle du membre du personnel concerné",
            "properties": {
              "_id": {
                "type": "string",
                "description": "MongoDB ObjectID du membre du personnel"
              },
              "firstName": {
                "type": "string",
                "description": "Prénom du membre du personnel"
              },
              "lastName": {
                "type": "string",
                "description": "Nom de famille du membre du personnel"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création de l'absence (ISO 8601)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de dernière modification de l'absence (ISO 8601)"
          }
        }
      },
      "SmsCampaignListResponse": {
        "type": "object",
        "description": "Liste paginée de campagnes SMS.",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SmsCampaign"
            },
            "description": "Campagnes de la page courante"
          },
          "page": {
            "type": "integer",
            "description": "Numéro de la page courante (base 0)"
          },
          "pageSize": {
            "type": "integer",
            "description": "Nombre de campagnes par page"
          },
          "total": {
            "type": "integer",
            "description": "Nombre total de campagnes"
          },
          "totalPages": {
            "type": "integer",
            "description": "Nombre total de pages"
          }
        }
      },
      "BackgroundTaskListResponse": {
        "type": "object",
        "description": "Paginated list of background tasks",
        "properties": {
          "rows": {
            "type": "array",
            "description": "Array of background task records",
            "items": {
              "$ref": "#/components/schemas/BackgroundTask"
            }
          },
          "page": {
            "type": "integer",
            "description": "Current page number (zero-indexed)",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of tasks per page",
            "example": 10
          },
          "total": {
            "type": "integer",
            "description": "Total number of tasks across all pages",
            "example": 14
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages",
            "example": 2
          }
        }
      },
      "StaffMember": {
        "type": "object",
        "description": "Membre du personnel avec les champs d'adhésion au salon aplatis sur le document. Retourné par GET /shops/{shopID}/staffs.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "type": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "Type de document — toujours 'user'"
          },
          "firstName": {
            "type": "string",
            "description": "Prénom du membre du personnel"
          },
          "lastName": {
            "type": "string",
            "description": "Nom de famille du membre du personnel"
          },
          "email": {
            "type": "string",
            "description": "Adresse e-mail du compte"
          },
          "telephone": {
            "type": "string",
            "description": "Numéro de téléphone au format E.164"
          },
          "code": {
            "type": "string",
            "description": "Code PIN à 4 chiffres du membre du personnel"
          },
          "isInit": {
            "type": "boolean",
            "description": "Vrai si le compte a terminé sa configuration initiale"
          },
          "superAdminRights": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Droits super-administrateur attribués (généralement vide)"
          },
          "supertokensUsers": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "SuperTokens user UUIDs linked to this account"
          },
          "profilePictureCPID": {
            "type": "string",
            "description": "Cloudinary path for profile picture"
          },
          "policy": {
            "$ref": "#/components/schemas/UserPolicy"
          },
          "shopID": {
            "type": "string",
            "format": "uuid",
            "description": "The shop this membership belongs to (mirrors path param)"
          },
          "name": {
            "type": "string",
            "description": "Shop display name — NOT the staff member's name. Carries the salon's name as set in the shop document."
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "manager",
              "collaborator"
            ],
            "description": "Staff role within the shop"
          },
          "schedule": {
            "$ref": "#/components/schemas/Schedule"
          },
          "customSchedule": {
            "type": "boolean",
            "description": "True when the staff has a schedule that differs from the shop default"
          },
          "onlineBooking": {
            "type": "boolean",
            "description": "Whether this staff member is bookable online"
          },
          "showOnWebsite": {
            "type": "boolean",
            "description": "Vrai si ce membre du personnel apparaît sur le site web du salon"
          },
          "allowedTypologies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Types de clientèle que ce membre peut prendre en charge (vide = aucune restriction)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création du compte (ISO 8601)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de dernière modification (ISO 8601)"
          }
        }
      },
      "StaffRef": {
        "type": "object",
        "description": "Référence légère d'un membre du personnel intégrée dans les visites et articles — instantané du document personnel au moment de la réservation.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID du membre du personnel"
          },
          "firstName": {
            "type": "string",
            "description": "Prénom du membre du personnel au moment de la réservation"
          },
          "lastName": {
            "type": "string",
            "description": "Nom de famille du membre du personnel au moment de la réservation"
          }
        }
      },
      "PriceRef": {
        "type": "object",
        "description": "Niveau tarifaire sélectionné pour un article dans une visite. Contient l'entrée Price choisie et un éventuel coefficient de partage.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID du sous-document Price"
          },
          "name": {
            "type": "string",
            "description": "Libellé du niveau tarifaire sélectionné (ex. : Adulte)"
          },
          "value": {
            "type": "number",
            "description": "Montant facturé pour ce niveau tarifaire dans la devise du salon"
          },
          "coeff": {
            "type": "number",
            "nullable": true,
            "description": "Coefficient for split/shared pricing (rare)"
          }
        }
      },
      "PaymentDetail": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "mode": {
            "type": "string",
            "description": "Payment mode — observed: CB (card), ESPECE (cash), CHEQUE, AVOIR (credit note)"
          },
          "value": {
            "type": "number",
            "description": "Amount in the shop's currency"
          }
        }
      },
      "VisitPayment": {
        "type": "object",
        "description": "Payment record attached to a visit. Populated only when status=PAID; for APPOINTMENT the details array is empty.",
        "properties": {
          "paid": {
            "type": "number",
            "description": "Total amount collected"
          },
          "total": {
            "type": "number",
            "description": "Total amount due"
          },
          "totalAccounting": {
            "type": "number",
            "description": "Accounting total (may differ from total after discounts)"
          },
          "mode": {
            "type": "string",
            "description": "Primary payment mode (e.g. CB, ESPECE)"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "When payment was recorded"
          },
          "staff": {
            "$ref": "#/components/schemas/StaffRef",
            "description": "Staff who processed the payment"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Receipt email address"
          },
          "printTicket": {
            "type": "boolean",
            "description": "Vrai si un ticket de caisse papier a été imprimé"
          },
          "sendTicket": {
            "type": "boolean",
            "description": "Vrai si le ticket a été envoyé par e-mail au client"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentDetail"
            },
            "description": "One entry per payment line (e.g. split CB + cash)"
          }
        }
      },
      "VisitAppointment": {
        "type": "object",
        "description": "Appointment metadata embedded in a visit.",
        "properties": {
          "staffID": {
            "type": "string",
            "description": "MongoDB ObjectID of the assigned staff member"
          },
          "staff": {
            "$ref": "#/components/schemas/StaffRef"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Appointment start time (UTC)"
          },
          "day": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD (present only when explicitly set; rare)"
          },
          "duration": {
            "type": "integer",
            "description": "Total duration in minutes (sum of all items)"
          },
          "noShow": {
            "type": "boolean",
            "description": "True when client did not show up"
          },
          "noShowFeePercentage": {
            "type": "integer",
            "description": "Percentage of the visit total charged as no-show fee (0–100)"
          },
          "isTransparentPaymentAvailable": {
            "type": "boolean",
            "description": "True when the client has a saved payment method (Stripe) enabling no-show fee capture"
          },
          "source": {
            "type": "string",
            "description": "Booking origin — observed: online-booking, backoffice, treatwell, rwg"
          },
          "takenAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the appointment was booked (may be absent for walk-ins)"
          },
          "fromPartner": {
            "type": "string",
            "nullable": true,
            "description": "Partner identifier when booked via a third-party (e.g. Treatwell)"
          },
          "orderReference": {
            "type": "string",
            "nullable": true,
            "description": "External order reference (e.g. Treatwell order ID)"
          }
        }
      },
      "VisitItem": {
        "type": "object",
        "description": "Item (service or package) as embedded in a visit. Extends the Item schema with visit-specific fields: the selected price tier, assigned staff snapshot, discounts, and for packages an items[] array of embedded sub-services.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID of the Item catalogue document"
          },
          "__v": {
            "type": "integer",
            "description": "Clé de version du document Mongoose"
          },
          "shopID": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant UUID du salon"
          },
          "itemType": {
            "type": "string",
            "enum": [
              "service",
              "product",
              "package"
            ],
            "description": "Type d'article : service, product (produit) ou package (forfait)"
          },
          "type": {
            "type": "string",
            "description": "Sous-type du service (haircut, shampoo, styling, …)"
          },
          "title": {
            "type": "string",
            "description": "Nom complet de l'article"
          },
          "shortTitle": {
            "type": "string",
            "description": "Libellé abrégé pour les vues compactes"
          },
          "titleRwG": {
            "type": "string",
            "description": "Titre de remplacement pour l'intégration Google Reserve with Google"
          },
          "category": {
            "type": "string",
            "description": "Catégorie de l'article"
          },
          "description": {
            "type": "string",
            "description": "Description longue de l'article"
          },
          "color": {
            "type": "string",
            "nullable": true,
            "description": "Named colour for the item on the planning board — observed values: purple, cherry, orange, blue, green, pink, yellow, red. null means no colour assigned."
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units (usually 1)"
          },
          "taxRate": {
            "type": "number",
            "description": "Taux de TVA applicable à cet article en pourcentage"
          },
          "whateverStaff": {
            "type": "boolean",
            "description": "True when any available staff can perform this item (no specific assignment)"
          },
          "isGiftCard": {
            "type": "boolean",
            "description": "Vrai si cet article est une carte cadeau"
          },
          "paid": {
            "type": "boolean",
            "description": "Whether this individual item has been paid"
          },
          "bookingReference": {
            "type": "string",
            "description": "External booking reference (e.g. Treatwell reference for this item)"
          },
          "price": {
            "$ref": "#/components/schemas/PriceRef",
            "description": "Selected price tier for this visit"
          },
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Price"
            }
          },
          "staff": {
            "$ref": "#/components/schemas/StaffRef"
          },
          "discounts": {
            "type": "array",
            "items": {},
            "description": "Applied discounts (structure TBD)"
          },
          "allowedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Types de clientèle autorisés pour cet article (vide = aucune restriction)"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Étiquettes libres associées à l'article"
          },
          "picturesCPID": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Chemins Cloudinary des photos de l'article"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "ObjectIDs des produits consommés lors de la réalisation de ce service"
          },
          "items": {
            "type": "array",
            "description": "Sous-services pour les articles de type forfait — VisitItems récursifs sans leur propre tableau items[]",
            "items": {
              "$ref": "#/components/schemas/VisitItem"
            }
          },
          "onlineBooking": {
            "type": "boolean",
            "description": "Réservable via le widget de réservation en ligne Wavy"
          },
          "onlineBookingRwg": {
            "type": "boolean",
            "description": "Réservable via Google Reserve with Google"
          },
          "onlineBookingTw": {
            "type": "boolean",
            "description": "Réservable via la marketplace Treatwell"
          },
          "showOnWebsite": {
            "type": "boolean",
            "description": "Affiché sur le site web / widget de réservation en ligne"
          },
          "showOnApp": {
            "type": "boolean",
            "description": "Affiché dans l'application mobile Wavy"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de création de l'article (ISO 8601)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date de dernière modification de l'article (ISO 8601)"
          }
        }
      },
      "Visit": {
        "type": "object",
        "description": "A visit record — represents a booked, paid, or cancelled appointment. Embedded client and item documents are snapshots at the time the visit was created/updated.",
        "required": [
          "_id",
          "shopID",
          "status",
          "client",
          "appointment",
          "items",
          "payment",
          "discounts",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "shopID": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant UUID du salon auquel appartient cette visite"
          },
          "status": {
            "type": "string",
            "enum": [
              "APPOINTMENT",
              "PAID",
              "CANCELED"
            ],
            "description": "Statut de la visite : APPOINTMENT = rendez-vous confirmé non payé, PAID = visite payée, CANCELED = annulée"
          },
          "client": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Client"
              }
            ],
            "description": "Embedded client snapshot. Includes stats when populated."
          },
          "appointment": {
            "$ref": "#/components/schemas/VisitAppointment"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisitItem"
            },
            "description": "Services/packages booked for this visit"
          },
          "payment": {
            "$ref": "#/components/schemas/VisitPayment"
          },
          "discounts": {
            "type": "array",
            "items": {},
            "description": "Visit-level discounts"
          },
          "updates": {
            "type": "array",
            "items": {},
            "description": "Audit log of modifications to this visit (structure TBD)"
          },
          "lastUpdate": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last modification (present only when updates is non-empty)"
          },
          "linkedVisitIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "ObjectIDs of related visits (e.g. multi-staff or split appointments)"
          },
          "recurringTemplateID": {
            "type": "string",
            "nullable": true,
            "description": "ObjectID of the RecurringVisit template if this visit was generated by a recurring series"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RecurringVisit": {
        "type": "object",
        "description": "A future occurrence of a recurring appointment template. Not a persisted Visit document — generated on-the-fly from the template for the requested date range.",
        "properties": {
          "templateID": {
            "type": "string",
            "description": "MongoDB ObjectID of the recurring template"
          },
          "status": {
            "type": "string",
            "enum": [
              "APPOINTMENT"
            ],
            "description": "Always APPOINTMENT for future occurrences"
          },
          "appointment": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date-time"
              },
              "staffID": {
                "type": "string"
              },
              "staff": {
                "$ref": "#/components/schemas/StaffRef"
              },
              "duration": {
                "type": "integer",
                "description": "Duration in minutes"
              }
            }
          },
          "client": {
            "type": "object",
            "description": "Minimal client reference — only identity fields, no stats or payment data",
            "properties": {
              "_id": {
                "type": "string"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "telephone": {
                "type": "string"
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisitItem"
            }
          }
        }
      },
      "PlanningDay": {
        "type": "object",
        "description": "All planning data for a single calendar day in a shop.",
        "required": [
          "day",
          "visits",
          "recurringVisits",
          "leaves"
        ],
        "properties": {
          "day": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "visits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Visit"
            },
            "description": "Confirmed, paid, and cancelled visits for this day"
          },
          "recurringVisits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecurringVisit"
            },
            "description": "Future occurrences generated from recurring templates"
          },
          "leaves": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Leave"
            },
            "description": "Staff leave / shop closure periods overlapping this day"
          }
        }
      },
      "ItemColor": {
        "type": "object",
        "description": "Lightweight colour assignment for an item — only the fields needed to render the planning board.",
        "required": [
          "_id",
          "color"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID of the Item catalogue document"
          },
          "color": {
            "type": "string",
            "nullable": true,
            "description": "Named planning-board colour — observed: purple, cherry, orange, blue, green, pink, yellow, red. null when no colour is assigned."
          }
        }
      },
      "PaginatedClientsResponse": {
        "type": "object",
        "description": "Paginated client list as returned by the Core microservice.",
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            },
            "description": "Client documents for this page. Heavy optional fields (notes, address, birthdate, google, progressiveJackpot) are omitted in the list projection; stats contains only lastVisitIsNoShow unless enriched."
          },
          "page": {
            "type": "integer",
            "description": "Zero-based current page index"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of rows per page"
          },
          "total": {
            "type": "integer",
            "description": "Total number of clients matching the query"
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages"
          }
        }
      },
      "CreditUsageEntry": {
        "type": "object",
        "description": "Un événement de déduction dans l'historique d'utilisation d'un crédit.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID de cet événement"
          },
          "visitID": {
            "type": "string",
            "description": "Visit where this deduction occurred"
          },
          "amount": {
            "type": "number",
            "description": "Amount deducted"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Credit": {
        "type": "object",
        "description": "A loyalty credit balance earned by a client from a specific visit. Created automatically when a visit is paid. amountRemaining decreases each time the credit is redeemed.",
        "required": [
          "_id",
          "shopID",
          "clientID",
          "loyaltyID",
          "loyaltyType",
          "visitID",
          "amountOriginal",
          "amountRemaining",
          "currency",
          "unit",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "shopID": {
            "type": "string",
            "format": "uuid"
          },
          "clientID": {
            "type": "string",
            "description": "MongoDB ObjectID of the client who earned this credit"
          },
          "loyaltyID": {
            "type": "string",
            "description": "MongoDB ObjectID of the LoyaltyProgram that generated this credit"
          },
          "loyaltyType": {
            "type": "string",
            "description": "Programme type — matches the `type` field of the corresponding LoyaltyProgramme definition",
            "enum": [
              "giftCard",
              "jackpot",
              "credit",
              "subscription"
            ]
          },
          "visitID": {
            "type": "string",
            "description": "MongoDB ObjectID of the visit that generated this credit"
          },
          "amountOriginal": {
            "type": "number",
            "description": "Credit amount at creation time (in currency). Note: percent-based jackpots are already converted to a currency amount here."
          },
          "amountRemaining": {
            "type": "number",
            "description": "Remaining usable credit. Decremented each time a CreditUsage is recorded."
          },
          "currency": {
            "type": "string",
            "example": "EUR",
            "description": "Code devise ISO 4217 du crédit (ex. : EUR)"
          },
          "unit": {
            "type": "string",
            "enum": [
              "currency"
            ],
            "description": "Always currency — percent jackpots are converted to a monetary amount at creation time"
          },
          "expireAt": {
            "type": "string",
            "format": "date-time",
            "description": "Expiry timestamp. Absent when the program has expireInDays=0 (never expires)."
          },
          "usageHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreditUsage"
            },
            "description": "Log of redemptions. Empty until the credit is first used."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LoyaltyProgram": {
        "type": "object",
        "description": "A loyalty program definition for a shop. Two types: jackpot (cashback percentage earned per visit) and giftCard (fixed-value credit sold or given).",
        "required": [
          "_id",
          "shopID",
          "name",
          "type",
          "unit",
          "value",
          "allowedTypes",
          "expireInDays"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "__v": {
            "type": "integer",
            "description": "Clé de version du document Mongoose"
          },
          "shopID": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant UUID du salon auquel appartient ce programme"
          },
          "name": {
            "type": "string",
            "description": "Nom affiché du programme de fidélité"
          },
          "type": {
            "type": "string",
            "enum": [
              "jackpot",
              "giftCard"
            ],
            "description": "jackpot = cashback earned on every paid visit; giftCard = prepaid credit card"
          },
          "unit": {
            "type": "string",
            "enum": [
              "percent",
              "absolute"
            ],
            "description": "percent = value is a cashback percentage; absolute = value is a fixed currency amount"
          },
          "value": {
            "type": "number",
            "description": "Program value. Interpretation depends on unit: 3 with unit=percent means 3% cashback; 39 with unit=absolute means a €39 gift card."
          },
          "allowedTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "service",
                "product",
                "package"
              ]
            },
            "description": "Item types eligible for this program. A jackpot with allowedTypes=[service,package] does not accumulate on product sales."
          },
          "expireInDays": {
            "type": "integer",
            "description": "Number of days before a credit earned from this program expires. 0 means credits never expire."
          },
          "deleted": {
            "type": "boolean",
            "description": "Soft-delete flag — filter with deleted[$ne]=true to exclude"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreditUsage": {
        "type": "object",
        "description": "A record of partial or full consumption of a Credit.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID"
          },
          "amount": {
            "type": "number",
            "description": "Amount consumed in this usage"
          },
          "visitID": {
            "type": "string",
            "description": "Visit where the credit was redeemed"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LoyaltyProgramme": {
        "type": "object",
        "description": "Définition d'un programme de fidélité. Chaque salon en possède généralement 2 à 5. Les enregistrements Credit référencent ces programmes via loyaltyID.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectID — utilisé comme Credit.loyaltyID"
          },
          "__v": {
            "type": "integer",
            "description": "Clé de version du document Mongoose"
          },
          "shopID": {
            "type": "string",
            "format": "uuid",
            "description": "Identifiant UUID du salon auquel appartient ce programme"
          },
          "name": {
            "type": "string",
            "description": "Human-readable programme name (e.g. 'fidélité cagnotte', 'carte cadeaux')"
          },
          "type": {
            "type": "string",
            "enum": [
              "jackpot",
              "giftCard"
            ],
            "description": "jackpot = progressive cashback accumulation; giftCard = fixed-value gift card"
          },
          "unit": {
            "type": "string",
            "enum": [
              "percent",
              "absolute"
            ],
            "description": "How the credit value is calculated: percent of spend, or a fixed absolute amount"
          },
          "value": {
            "type": "number",
            "description": "The rate (when unit=percent) or face value (when unit=absolute)"
          },
          "expireInDays": {
            "type": "integer",
            "description": "Credits issued under this programme expire after this many days. 0 means no expiry."
          },
          "allowedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Item types that can earn or redeem this credit. Known values: service, product, package."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
[...]
